<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Payment Platform
      </h1>
      <p class="lead">Make payments using the stripe API</p>
      <button id="purchase" type="button" class="btn btn-success btn-lg">Purchase Book</button>
    </div>
    <div class="col-md-6">
      <img src="/img/book.png" alt="book" class="img-fluid">
    </div>
  </div>
</section>
<script src="/scripts/purchase.js"></script>